body {
  background-color: pink;
}


/* CENTER BOX */
.center {

  margin: auto;
  border: 10px outset red;
  width: 1366;
  padding: 10%;
  top: 70px;
  padding-bottom: 20%;

}

#ME {
  color: blue;
}

/* H1 TEXT */
.h1 {
  position: relative;
  bottom: 150px;
  right: 100px;
  line-height: 0.5;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  color: maroon;
  font-size: 40px;
}

/* AGE CLASS */
.ages {
  border: 10px solid #0e7da3;
  color: gold;
  margin: auto;
  margin-right: 280px;
  background-color: #0e7da3;
  border-bottom: 10px;
  border-top: 1px;
  position: relative;
  right: 120px;
  bottom: 152px;
  text-align: center;
  width: 50%;

}

/* BENEFITS */

.benefits {
  line-height: 1.8;
  position: relative;
  right: 129px;
  bottom: 152px;
  color: red;
  font-weight: bold;
}

/* IMAGE */
img {
  position: absolute;
  left: 700px;
  bottom: 200px;
}

/* FOOTER */

footer {
   position: absolute;
   bottom: 0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

/* CIRCLE */

.circle { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: dotted;

}

/* IDS  */

#percent {
  position: absolute;
  color: maroon;
  font-size: 80px;
  bottom: 180px;
  left: 30px;
}

#sibl {
  position: absolute;
  text-align: center;
  top: 380px;
  left: 30px;
  top:  300px;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
}

#dis {
  position: absolute;
  text-align: center;
  top: 300px;
  left: 40px;
  top:  390px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
